.stApp {
    color: white;
    background-color: #65b4f5;
}

h1 {
    color: white;
}

p {
    font-size: 1.1rem;
    color: white;
}

.css-qrbaxs {
    font-size: 1.1rem;
}

.stDateInput label {
    color: white;
}

code {
    color: black;
}

div[data-testid="column"] {
    color: black;
    background-color: white;
    border: 2px solid #1b76d2;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 5px 5px 3px black;
}

div[data-testid="column"] label {
    color: black;
}